/* Main Styles */
p {
  font-size: large;
  line-height: 1.8;
}
h1 {
  text-align: center;
  color: var(--primaryLightColor);
  font-size: 2.4rem;
}
h1 + p {
  text-align: center;
  margin: 25px 0 40px;
  color: #ccc;
}
h2 {
  margin: 25px 0 10px;
}